@charset "utf-8";

/* font 폰트 */

@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

/* font 폰트 */


/* reset 리셋 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #464646;
    font-family: "Nanum Gothic", Helvetica, Helvetica Neue, sans-serif, arial, "돋움", Dotum, "굴림", Gulim !important;
    font-size: 16px;
    letter-spacing: -0.5px;
    background-color: #f6f7f9 !important;
}

#bodyWrap {
    max-width: 1920px;
    margin: 0 auto;
}

a {
    display: block;
    text-align: center;
    text-decoration: none !important;
}

ul li {
    list-style: none;
}


/* reset 리셋 */


/* header 헤더 */

header {
    width: 100%;
    height: 70px;
    background-color: #464646;
    color: white;
}

header h1 {
    float: left;
    width: 18%;
    max-width: 300px;
    min-width: 180px;
    background-color: #272a2b;
}

header h1 a {
    height: 70px;
}

header h1 a img {
    width: 150px;
    margin-top: 13px;
}

header .headerL {
    float: left;
    margin-left: 20px;
}

header .headerL .gnb {
    overflow: hidden;
    padding: 0 !important;
}

header .headerL .gnb li {
    float: left;
}

header .headerL .gnb li a {
    margin: 40px 5px 0;
    padding: 0 50px;
    background-color: #494e53;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #a4a79b;
    font-size: 15px;
    line-height: 30px;
    transition: all 0.1s;
    box-shadow: rgb(0 0 0 / 9%) 0px -1px 1px, rgb(0 0 0 / 9%) 0px -2px 2px, rgb(0 0 0 / 9%) 0px -4px 4px, rgb(0 0 0 / 9%) 0px -8px 8px, rgb(0 0 0 / 9%) 0px -16px 16px;
}

header .headerL .gnb li a:hover,
header .headerL .gnb li a.active {
    margin: 30px 5px 0;
    background: #0d6efd;
    color: white;
    font-size: 17px;
    font-weight: 700;
    line-height: 40px;
    text-shadow: 0 0 1px #222;
}

header .headerR {
    float: right;
}

header .headerR ul li {
    float: left;
    margin: 0 12px;
    line-height: 70px;
}

header .headerR ul li a,
header .headerR ul li a:active,
header .headerR ul li a:visited,
header .headerR ul li a:focus {
    color: white;
    font-size: 14px;
    font-weight: normal;
}

header .headerR ul li.user {
    margin: 0;
    background-color: #272a2b;
}


/* header 헤더 */


/* contents 컨텐츠 */

#container {
    width: 100%;
}

#textWrap {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0 20px;
}

#textWrap .title {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
}

#textWrap .title2 {
    margin-left: 100px;
}

#textWrap .description {
    color: #aaa;
}

#contentsWrap {
    width: 80%;
    max-width: 1600px;
    margin: 0 auto 40px;
}

.contentsTop {
    padding: 30px 50px;
    border-bottom: 1px solid #e6e7eb;
}

.contentsTop1 {
    padding-bottom: 5px;
    border-bottom: none;
}

.contentsTop2 {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: none;
}

.contentsTop3 {
    padding-top: 5px;
}

.contentsTop input[type="text"],
.contentsTop input[type="date"] {
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}

#contentsWrap .table-gnb1,
#contentsWrap .table-gnb2,
#contentsWrap .table-gnb3 {
    width: calc(100% - 100px);
    margin: 30px 50px;
}


/*데이터 불러오기 탭 테이블 열고정*/

.table-gnb3 tr th:nth-child(1) {
    width: 5%;
}

.table-gnb3 tr th:nth-child(2) {
    width: 65%;
}

.table-gnb3 tr th:nth-child(3) {
    width: 10%;
}

.table-gnb3 tr th:nth-child(4) {
    width: 10%;
}

.table-gnb3 tr th:nth-child(5) {
    width: 10%;
}


/*분석모델생성 탭 테이블 열고정*/

.table-gnb2 tr th:nth-child(1) {
    width: 5%;
}

.table-gnb2 tr th:nth-child(2) {
    width: 75%;
}

.table-gnb2 tr th:nth-child(3) {
    width: 10%;
}

.table-gnb2 tr th:nth-child(4) {
    width: 10%;
}


/*작업리스트 탭 테이블 열고정*/

.table-gnb1 tr th:nth-child(1) {
    width: 10%;
}

.table-gnb1 tr th:nth-child(2) {
    width: 10%;
}

.table-gnb1 tr th:nth-child(3) {
    width: 50%;
}

.table-gnb1 tr th:nth-child(4) {
    width: 10%;
}

.table-gnb1 tr th:nth-child(5) {
    width: 20%;
}

.table-gnb1 tbody tr th {
    font-size: 15px;
}

#contentsWrap .pagination {
    justify-content: center;
    margin-bottom: 30px;
}

.table-gnb1 .bi-arrow-clockwise:hover {
    color: #6c757d;
    cursor: pointer;
}

.tooltip-inner {
    /*color: #222 !important;*/
    font-size: 12px !important;
    /* background-color: #6c757d !important;
}
.bs-tooltip-top .tooltip-arrow::before {
   /* border-top-color: #6c757d !important;*/
}

/* contents 컨텐츠 */


/* common 공통 */

form {
    overflow: hidden;
}

.arrow {
    /*헤더 화살표*/
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(/report/img/arrow-down.png) 30% 45% no-repeat;
    vertical-align: middle;
}

.original-bg-style {
    border: 1px solid #e6e7eb !important;
    border-radius: 5px;
    background-color: white;
}

.original-bg-style.margin50 {
    margin-bottom: 50px;
}

.input-group-text {
    font-size: 15px !important;
    font-weight: 600 !important;
}

.span-projectForm {
    margin-right: 20px;
    padding: 0 5px;
    font-weight: 600;
    line-height: 40px;
}

.date-wave {
    padding: 0 20px;
    line-height: 38px;
}

.con-writing,
.con-writing:hover {
    /*작성중*/
    color: #f7b2a2 !important;
}

.con-writing-completed,
.con-writing-completed:hover {
    /*작성완료*/
    color: #f06445 !important;
}

.con-analyzing,
.con-analyzing:hover {
    /*분석중*/
    color: #86b7fe !important;
}

.con-analyzing-completed,
.con-analyzing-completed:hover {
    /*분석완료*/
    color: #0d6efd !important;
}

.tr-margin {
    height: 30px;
}

.essential-item .input-group-text {
    color: #f06445;
    background-color: #fff0ed;
    border-color: #f06445;
}

.essential-item input,
.essential-item input:focus {
    border-color: #f06445;
}

nav .infobox {
    width: calc(100% - 100px);
    margin: -10px auto 30px;
}

.infobox {
    margin-bottom: 10px;
    padding: 15px;
    background-color: #fffaee;
}

.input-group .announce {
    margin-left: 10px !important;
    letter-spacing: -0.5px;
}

.announce {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    color: #666;
}

.announce .bi-exclamation-circle {
    margin-right: 5px;
    color: #f06445;
}

.announce .fontcolor-red {
    color: #f06445;
}

.announce-light {
    margin-left: 3px;
    color: #999;
    font-weight: 400;
    line-height: 30px;
}

.announce p {
    margin: 0;
    text-align: left;
}

.announce .fontcolor-blue {
    margin-left: 5px;
    color: #0d6efd;
}

.announce .fontcolor-blue:hover {
    cursor: pointer;
    opacity: 0.8;
}

.announce ul {
    margin: 0;
}

.announce ul li {
    line-height: 20px;
    list-style: inherit;
    text-align: left;
}


/* common 공통 */


/* button 버튼 공통 */

button span {
    font-size: 14px;
}

.btn-user {
    max-width: 150px;
    margin: 0;
    padding: 0 5px 0 0;
    border: none;
    background-color: #272a2b;
    color: white;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    white-space: normal;
    box-shadow: none;
}

.btn-copySetting,
.btn-createModel {
    float: right;
    margin: 0 50px 30px 0;
}

.btn-createModel {
    position: relative;
    top: 0;
    padding: 10px 20px !important;
    transition: all 0.3s !important;
}

.btn-createModel:hover {
    top: 3px;
}

.btn-default,
.btn-excel,
.btn-word,
.btn-preview,
.btn-modify,
.btn-delete {
    margin: 0 3px;
    padding: 3px 6px;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    background: linear-gradient(#fff, #ececec);
    box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
}

.btn-preview:hover,
.btn-modify:hover,
.btn-delete:hover {
    border: 1px solid #2a2d31;
    box-shadow: 0 0 0 rgb(0 0 0 / 12%);
    background: #484d54;
    color: white;
}

.btn-excel,
.btn-word {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    border: 1px solid #d2d2d2;
    background: url(/report/img/excel.svg) center no-repeat;
}

.btn-excel:hover {
    background: url(/report/img/excel-hover.svg) center no-repeat;
}

.btn-word {
    background: url(/report/img/word.svg) center no-repeat;
}

.btn-word:hover {
    background: url(/report/img/word-hover.svg) center no-repeat;
}

.btnGroup {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 30px auto 10px;
    /*padding: 0 20px 0 0;*/
}

.btnGroup button {
    width: 125px;
}

.btn-input,
.btn-cancleAll {
    display: inline-block;
    padding: 3px 8px;
    font-size: 14px;
}

i.bi-person-circle {
    padding-left: 12px;
}

i.bi-cloud-arrow-up {
    margin-right: 5px;
    font-weight: 900;
    vertical-align: middle;
}

i.bi-check {
    position: relative;
    top: 2.5px;
    margin-right: 5px;
    font-size: 18px;
}

i.bi-play-circle,
i.bi-pencil {
    margin-right: 5px;
}

i.bi-x {
    float: right;
    padding: 1px 4px;
    background-color: #009acf;
}

.btn-plus,
.btn-minus,
.btn-reset,
.btn-check {
    width: 26px;
    height: 26px;
    margin: 6px 0 6px 10px !important;
    border: 1px solid #6c757d;
}

.btn-plus-small,
.btn-minus-small,
.btn-reset-small {
    width: 20px;
    height: 20px;
    margin: 6px 0 6px 10px !important;
    border: 1px solid #e5e5e5;
    font-size: 13px;
}

.btn-minus,
.btn-reset,
.btn-minus-small,
.btn-reset-small {
    border: 1px solid #e5e5e5;
    background-color: white;
    color: #6c757d !important;
}

.btn-minus:hover,
.btn-reset:hover,
.btn-minus-small:hover,
.btn-reset-small:hover {
    border: 1px solid #6c757d;
    background-color: white;
}

.btn-check {
    width: auto;
    padding: 0 10px;
}

.btn-apply {
    display: inline-block;
    float: left;
    height: 36px;
    font-size: 14px;
    background-color: white;
}

.btn-basic-small {
    margin-right: 10px;
    font-size: 11px;
    cursor: pointer;
}

.btn-basic-small i {
    color: #999;
}

.btn-basic-small i:hover {
    color: #000;
}


/* button 버튼 공통 */


/* input 입력 공통 */

.m5 {
    margin-right: 5px;
}

.m10 {
    margin-right: 10px;
}

.m30 {
    margin-right: 30px;
}

.w130 {
    width: 130px;
    justify-content: center;
}

.w300 {
    flex: none !important;
    width: 300px !important;
}

.w600 {
    flex: none !important;
    width: 60% !important;
}

.bgWhite {
    background-color: white !important;
}

.input-border {
    border-radius: 0.25rem !important;
}

.border-left {
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
}

.border-right {
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}

.input-condition {
    max-width: 245px;
    margin-right: 20px;
}

.input-finishCalendar,
.input-importProj {
    margin-right: 20px;
}

.input-startCalendar,
.input-finishCalendar {
    max-width: 250px;
}

.input-projectForms {
    margin-top: 10px;
}

.form-check-input2 {
    margin-top: 0.77rem !important;
}

.input-projectForms > div,
.input-sameScore > div {
    line-height: 40px;
}

.form-control[readonly] {
    background-color: white;
}

.form-control:focus {
    background-color: none;
    box-shadow: none;
}

.div_left .form-control:focus {
    border-color: #6c757d !important;
}

.point-text {
    display: inline-block;
    width: 50px;
    height: 30px;
    border-radius: none !important;
}

.case-style {
    /*추가*/
    box-sizing: border-box;
    overflow: auto;
    width: 100%;
    max-height: 70px;
    margin: 0;
    margin-left: 140px !important;
    padding: 0;
    font-size: 14px;
    line-height: 27px;
}

.case-style li {
    float: left;
    margin-right: 20px;
}

.case-style li input[type="checkbox"] {
    margin-top: 0;
    margin-right: 5px;
}

.points-input-group {
    display: inline-block;
    float: left;
    width: auto;
    margin: 0 !important;
}

.points-input-group .points-form {
    display: inline-block;
    float: left;
    width: 75px;
    height: 36px;
    font-size: 13px;
}

.points-input-group .announce {
    display: inline-block;
    float: left;
    margin-top: 3px;
}


/* input 입력 공통 */


/* table 테이블 공통 */

table {
    table-layout: fixed;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    letter-spacing: 0;
}

.table-name {
    margin: 30px 50px;
    /*color: #6c757d;*/
    font-family: "Noto Sans KR", sans-serif;
    color: #000;
    font-size: 15px;
    font-weight: bold;
}

.table tr {
    height: 50px;
    vertical-align: middle;
}

.table tr th,
.table tr td {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table tr th.projName,
.table tr td.projName {
    text-align: left;
}

.table tr th.w30 {
    width: 35%;
}

.table tr td.btn-group {
    display: flex;
    overflow-x: auto;
    text-overflow: unset;
}

.table-form-check {
    display: inline-block !important;
}

.table-weight {
    width: 600px;
}

.table-weight .form-control,
.table-step4 .form-control {
    border: none;
    border-radius: 0;
}

.table-step4 tbody tr {
    height: 35px;
}

.table-step4 > tbody > tr > td {
    width: 50%;
    vertical-align: top;
}

.table-step4 > tbody > tr > td .tdWrap {
    width: 95%;
    max-height: 500px;
    overflow-y: auto;
}

.table-step4 > tbody > tr > td .tr_th {
    width: 200px;
    float: left;
}

.table-step4 > tbody > tr > td .tr-td-wrap {
    display: flex;
    width: calc(100% - 200px);
    float: left;
    overflow-x: auto;
}

.table-step4 > tbody > tr > td .tr-td-wrap .tr-td {
    width: 120px;
    min-width: 120px;
    margin-left: -1px;
    float: left;
}

.table-step4 > tbody > tr > td .tr-td-wrap .tr-td:first-child {
    margin: 0;
}

.table-step4 .table-title {
    width: 200px;
    padding: 0 5px;
    background-color: #e7f1ff;
}

.table-step4 .table-number {
    padding: 0;
}

.table-step4 .table-number button {
    display: inline;
    float: right;
    width: 18px;
    height: 18px;
    margin: 5px 2px !important;
    font-size: 13px;
}

.table-step4 .table-number input[type="number"] {
    display: inline;
    float: left;
    width: 50%;
    padding: 5px;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -moz-appearance: textfield;
}

.table-step4 .table-number input[type="text"] {
    display: inline;
    float: left;
    width: 50%;
    padding: 5px;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -moz-appearance: textfield;
}
.table-step4 .table-number input[type="number"]:first-child {
    width: 60%;
}

.table-step4 .table-number2 input[type="number"] {
    width: 95%;
}


/* Chrome, Safari, Edge, Opera */

.table-step4 input::-webkit-outer-spin-button,
.table-step4 input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.table-step4 > tbody > tr.total-variables td {
    height: 70px;
    vertical-align: bottom;
}

.table-step4 > tbody > tr.total-variables td p {
    font-weight: bold;
}


/* table 테이블 공통 */


/* modal 모달창 공통 */

.modal-title {
    font-weight: 600;
}

.modal-body {
    min-height: 100px;
}

.modal-body .form-control:focus,
.modal-body .form-check-input:focus {
    border-color: #feb06f;
    box-shadow: 0 0 0 0.25rem rgb(253 126 20 / 25%) !important;
}

.modal-body .form-check-input:checked {
    border-color: var(--bs-orange);
    background-color: var(--bs-orange);
}

.modal-body .page-link {
    color: var(--bs-orange);
    background-color: white;
}

.modal-body .page-link:focus,
.modal-body .page-link:hover {
    color: var(--bs-orange);
}

.modal-body .page-item.active .page-link,
.modal-btn-orange {
    color: white !important;
    border-color: var(--bs-orange) !important;
    background-color: var(--bs-orange) !important;
}

.btn-registerProj {
    position: relative;
    top: -5px;
    float: right;
    padding: 3px 6px;
    border: 1px solid #ff7400;
    border-radius: 3px;
    background-color: transparent !important;
    color: #ff7400 !important;
}

.btn-registerProj:hover {
    color: white !important;
}

.modal-body .pagination {
    justify-content: center;
}

.modal-footer .notice {
    display: block;
    position: relative;
    left: -10px;
    width: 80%;
    padding: 6px 60px 10px 14px;
    border-radius: 4px;
    background-color: #fef5e4;
    color: #6c757d;
    font-size: 13px;
}

.modal-footer .notice span {
    font-weight: 700 !important;
    margin-right: 5px;
}

.modal-btn-orange:hover {
    border-color: #ff7400 !important;
    background-color: #ff7400 !important;
}

.modal-header .btn-close:focus,
.modal-body .page-link:focus,
.modal-btn-orange:focus {
    box-shadow: 0 0 0 0.25rem rgb(253 126 20 / 25%) !important;
}


/* modal-프로젝트 가져오기 modal-설정복사 */

.modal-importProj,
.modal-copySetting {
    max-width: 1000px !important;
}

.modal-importProj .modal-body,
.modal-copySetting .modal-body {
    padding: 30px !important;
}

.modal-importProj .modal-body .infobox {
    margin-top: 30px;
}

.modal-importProj .modal-body .table-name,
.modal-copySetting .modal-body .table-name {
    margin: 30px 0 0 0;
}

.modal-importProj .table,
.modal-copySetting .table {
    margin: 10px 0 30px 0;
}

.modal-importProj .table thead tr th:nth-child(1) {
    width: 5%;
}

.modal-importProj .table thead tr th:nth-child(2) {
    width: 60%;
}

.modal-importProj .table thead tr th:nth-child(3) {
    width: 10%;
}

.modal-importProj .table thead tr th:nth-child(4) {
    width: 10%;
}

.modal-importProj .table thead tr th:nth-child(5) {
    width: 15%;
}


/* 보고서 스타일 적용하기 */
.modal-showReport {max-width: 1000px !important;}
.modal-showReport .modal-body {padding: 30px !important;}
.modal-showReport .modal-body .style-category {padding: 20px 20px 0 20px;}
.modal-showReport .modal-body .style-category button {font-family: "Noto Sans KR", sans-serif; font-size: 15px;}
.modal-showReport .modal-body .table-name {margin: 30px 0 0 20px;}

#reportWrap {display: flex; overflow-x: scroll; width: 100%; padding: 20px 15px;}
#reportWrap .report-style {float: left; width: 310px; text-align: center;}
#reportWrap .report-style .report-thumbnail {width: 100%;}
#reportWrap .report-style .report-thumbnail img {box-sizing: border-box; width: 200px; margin: 10px 20px; border: 1px solid #eee;}
#reportWrap .report-style .report-thumbnail img:hover {border: 1px solid #aaa; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; cursor: pointer;}

.carousel {padding: 20px;}
.carousel .carousel-indicators {padding-bottom: 15px;}
.carousel .carousel-inner {border: 1px solid #eee;}

/* 보고서 템플릿 늘어뜨린 버전 */
.carousel-inner-ul {width: 100%; padding: 0;}
.carousel-inner-ul li {margin: 10px; border: 1px solid #eee;}

/*보고서 적용하기 - 탑버튼*/
#topButton {position: fixed; right: 27%; bottom: 35px; z-index: 999; font-size: 40px; opacity: .5;}
#topButton:hover {opacity: 1; cursor: pointer;}


/* 상미씨 css 작업, 다면평가 */

main {
    position: relative;
    /*overflow: hidden;*/
    clear: both;
    width: 100%;
}

.div_left {
    float: left;
    width: calc(100% - 500px);
    margin-left: 100px;
}

.div_right {
    float: right;
    width: 300px;
}

.step-progress {
    display: flex;
    justify-content: space-around;
    margin: 0 15px 20px -5px;
}

.step-line {
    display: block;
    position: absolute;
    z-index: -1;
    top: 16px;
    transform: translateX(5%);
    width: 80%;
    border-bottom: 1px solid #ccc;
}

.sec_title {
    /*position: sticky;*/
    overflow: hidden;
    top: 0;
    z-index: 1;
    margin-bottom: 10px;
    padding-left: 20px;
    font-weight: 600;
}

.sec_title .sec_title_listOf {
    float: left;
}

.sec_title > button {
    float: right;
    margin-right: 20px;
}

.sec_title .stepTit {
    margin: 0 0 0 30px;
    line-height: 40px;
}

.stepBadge,
.stepBadge.active {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ccc;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.stepBadge.active {
    background-color: #0acf97;
}

.sec_title2 {
    bottom: 40px;
}

.sec_title3 {
    bottom: 0;
}

#section1,
#section2,
#section3,
#section4 {
    width: 100%;
    padding: 30px 50px;
}

.table-step {
    width: 100%;
    font-family: "Nanum Gothic", Helvetica, Helvetica Neue, sans-serif, arial, "돋움", Dotum, "굴림", Gulim;
}

.table-step .input-group {
    margin: 5px 0;
}

.table-step .input-group .sosu span,
.table-step .input-group .sosu label {
    display: flex;
    float: left;
    line-height: 38px;
}

.table-step .input-group .sosu input {
    float: left;
    height: 30px;
    margin: 4px 5px 0;
    padding: 0;
}

.table-step .input-group .sosu input[type="number"] {
    width: 50px;
}

.table-step2 td {
    width: 100%;
}

.marymondyum-group-title {
    display: inline-block;
    float: left;
    margin: 10px 0 0 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-right: 1px solid rgb(206, 212, 218);
}

.table-step2 .marymondyum-group .announce {
    line-height: 60px;
}

.table-step2 .step2-optionGroup {
    float: left;
    font-size: 14px;
}

.table-step2 .step2-optionGroup .step2-optionGroup-label {
    float: left;
    margin: 10px 10px 0;
    font-weight: 600;
}

.text-disabled {
    padding-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    background-color: #fafafa;
}

.text-disabled:focus {
    outline: none;
}

.sample-item-warp {
    width: calc(100% - 250px);
}

.sample-item-group {
    float: left;
    overflow: hidden;
}

.sample-item-group p {
    display: inline-block;
    float: left;
    margin: 0;
}

.sample-item-group .sample-item {
    width: 150px;
    margin-right: 5px;
    padding: 0 0 0 10px;
    font-size: 14px;
    letter-spacing: -1.5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sample-item-group .sample-item-delete {
    display: inline-block;
    margin-right: 10px;
    color: #666;
    font-size: 13px;
    opacity: 0.6;
    cursor: pointer;
}

.sample-item-group .sample-item-delete:hover {
    opacity: 1;
}

.card {
    display: inline-block;
    width: 395px;
    margin: 5px 20px 5px 0;
}

.card .card-body {
    font-size: 13px;
    text-align: center;
}

.card .card-body input[type="checkbox"] {
    position: relative;
    top: 2px;
}

.card .card-content-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}


/*클래스명 변경후 삭제*/

.card .card-content-wrap .column1 {
    width: 32%;
    padding: 0;
    margin-bottom: 10px;
}

.card .card-content-wrap .column2 {
    overflow: hidden;
    width: 64%;
    padding: 0;
    margin-bottom: 10px;
}

.card .card-content-wrap .column2 ul {
    overflow: hidden;
    width: 100%;
    padding: 0;
}

.card .card-content-wrap .column2 ul:nth-child(2) {
    overflow-y: auto;
    width: 100%;
    height: 150px;
    padding: 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card .card-content-wrap .column1 .card-contents .middleModelTitle {
    font-weight: bold;
}

.card .card-content-wrap .column1 .card-contents input[type="text"] {
    width: 100%;
    height: 150px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    text-align: center;
}

.card .card-content-wrap .column2 ul .rows {
    overflow: hidden;
}

.card .card-content-wrap .column2 ul li:first-child {
    float: left;
    width: 65%;
}

.card .card-content-wrap .column2 ul li:nth-child(2) {
    float: left;
    width: 35%;
}


/*클래스명 변경후 삭제*/


/*변경된 클래스 css*/

.satismodel {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 300px;
    max-height: 670px;
    padding: 30px;
    overflow: scroll;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.satismodel-left-card,
.satismodel-center-card,
.satismodel-right-card {
    float: left;
    box-sizing: border-box;
    width: 30%;
    height: auto;
}

.satismodel-left-card .card,
.satismodel-center-card .card,
.satismodel-right-card .card {
    width: 100%;
    margin-bottom: 20px;
}

.satismodel-left-card .card:hover,
.satismodel-center-card .card:hover,
.satismodel-right-card .card:hover {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.satismodel-left-card .card:hover .card-delete .bi-x-lg,
.satismodel-right-card .card:hover .card-delete .bi-x-lg {
    color: #0d6efd;
    font-weight: bold;
    cursor: pointer;
}

.satismodel-left-card .card:hover .card-delete.card-delete-first .bi-x-lg,
.satismodel-right-card .card:hover .card-delete.card-delete-first .bi-x-lg {
    color: #999;
    cursor: inherit;
}

.card .card-content-wrap .column-title {
    width: 32%;
    padding: 0;
    margin-bottom: 10px;
}

.card .card-content-wrap .column-contents {
    overflow: hidden;
    width: 64%;
    padding: 0;
    margin-bottom: 10px;
}

.card .card-content-wrap .column-contents ul {
    overflow: hidden;
    width: 100%;
    padding: 0;
}

.card .card-content-wrap .column-contents ul:nth-child(2) {
    overflow-y: auto;
    width: 100%;
    height: 150px;
    padding: 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card .card-content-wrap .column-title .card-contents .middleModelTitle,
.card .card-content-wrap .column-title .card-contents .modelTitle {
    font-weight: bold;
}

.card .card-content-wrap .column-title .card-contents input[type="text"] {
    width: 100%;
    height: 150px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    text-align: center;
}

.card .card-content-wrap .column-contents ul .rows {
    overflow: hidden;
}

.card .card-content-wrap .column-contents ul li:first-child {
    float: left;
    width: 65%;
}

.card .card-content-wrap .column-contents ul li:nth-child(2) {
    float: left;
    width: 35%;
}

.card .card-content-satismodel .column-contents {
    overflow-y: auto;
    width: 100%;
    height: 150px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card .card-content-satismodel {
    padding-top: 0;
}

.card .card-content-satismodel .card-contents-plus {
    position: sticky;
    top: -15px;
    z-index: 2;
    padding-top: 10px;
    background-color: #fff;
}

.card .card-content-satismodel .card-contents-plus .btn-plus-small,
.card .card-content-satismodel .card-contents-plus .btn-minus-small {
    margin: 0 !important;
    vertical-align: super;
}

.card .card-content-satismodel .column-contents .card-contents1 {
    float: left;
    width: 50%;
    font-size: 11px;
    letter-spacing: -0.5px;
    text-align: initial;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card .card-action-wrap .card-satismodel-left {
    width: 64%;
}

.card .card-action-wrap .card-satismodel-right {
    width: 32%;
}


/*변경된 클래스 css*/

.card .card-content-wrap .card-tit {
    margin-bottom: 5px;
    line-height: 30px;
    color: #666;
    font-size: 13px;
    font-weight: 400;
}

.card-contents1 {
    height: 27px;
}

.card-contents1 div span {
    display: inline-block;
    overflow: hidden;
    width: 100px;
    font-size: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

.card-contents2 input[type="text"] {
    width: 70%;
    margin: 0 10px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    text-align: center;
}

.card-contents1 .delete {
    margin-bottom: 10px;
    padding: 0 7px;
    border: none;
    background: transparent;
    color: #999;
    font-size: 15px;
}

.card-contents1 .delete:hover {
    color: #000;
}

.card .card-action-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 13px;
    text-align: center;
}

.card .card-action-wrap label {
    line-height: 38px;
}

.card .card-action-wrap .card-action-satismodel {
    width: 100%;
}

.card .card-action-wrap .card-action-satismodel .btn-plus-small,
.card .card-action-wrap .card-action-satismodel .btn-minus-small {
    margin-left: 0 !important;
}

.card .card-action-wrap .card-action-satismodel label {
    font-weight: bold;
    line-height: 21px;
}

.card .card-action-wrap .card-action-satismodel input {
    box-sizing: border-box;
    width: 22%;
    padding-left: 5px;
    border-radius: 0.15rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    font-size: 12px;
    text-align: center;
    line-height: 21px;
}

.card .card-action-wrap .card-action-satismodel input[type="text"] {
    width: calc(100% - 85px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card .card-action-wrap .card-action-satismodel input:focus {
    outline: none;
}

.card .card-action-wrap .card-action-satismodel input.input-weight {
    width: 100%;
    margin: 4.5px 0;
    font-weight: bold;
    background-color: #e9ecef;
}

.card-delete {
    display: block;
    width: 100%;
    line-height: initial;
}

.card-delete .bi-x-lg {
    padding: 3px 4px;
    border-radius: 50px;
    color: #999;
    font-size: 13px;
    font-weight: bold;
}

.add-card-btn {
    position: relative;
    top: 0;
    color: #666;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 15px;
    transition: all 0.3s;
}

.add-card-btn:hover {
    top: 5px;
    color: #0d6efd;
    font-size: 15px;
    cursor: pointer;
}

.table-step3 .step3-optionGroup {
    padding-top: 7px;
}

.table-step3 .line_1 {
    overflow: hidden;
    padding: 10px 0;
}

.table-step3 .line_1 span {
    float: left;
}

.table-step3 .line_1 span img {
    display: block;
    width: 150px;
    margin: 8px 10px 0 10px;
}

.table-step3 .line_2 {
    overflow: hidden;
}

.table-step3 .line_2 .l2_left {
    float: left;
    width: 100px;
}

.table-step3 .line_2 .l2_left ul {
    margin: 0;
    padding: 0;
}

.table-step3 input[type="number"] {
    width: 50px;
    text-align: center;
}

.table-weight tr th {
    width: 15%;
    font-weight: 400;
}

.table-weight tr .table-weight-tdTit
/*,
.table-weight tr .table-tdTit*/

    {
    width: 25%;
    height: 50px;
    background-color: #e7f1ff;
}

.table-weight td:last-child {
    font-weight: 400;
}

.table-weight td input[type="text"] {
    text-align: right;
    font-weight: 300;
}

.step4-optionGroup div input {
    margin-top: 10px;
}

.step4-optionGroup div label {
    line-height: 38px;
}

#list {
    position: absolute;
    /*top: 0;*/
    top: -100px;
    right: 50px;
    width: 300px;
    height: 560px;
    box-sizing: border-box;
}

.sec_con {
    height: calc(100% - 40px);
    overflow: auto;
}

.sec_con ul {
    margin: 15px 0;
    padding: 0;
}

.sec_con ul li {
    margin: 5px 0;
    padding: 5px 0 5px 30px;
}

.sec_con ul li:hover {
    background-color: rgba(13, 110, 253, 0.1);
    cursor: pointer;
}


/* 로딩 애니메이션 */


/** BEGIN CSS **/

@keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@-moz-keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@-moz-keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@keyframes loading-text-opacity {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes loading-text-opacity {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes loading-text-opacity {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes loading-text-opacity {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.loading-container,
.loading {
    height: 100px;
    position: relative;
    width: 100px;
    border-radius: 100%;
}

.loading-container {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    margin: 0;
    border-radius: 0;
    background: transparent;
    transition: all 2s;
}

.loading-container.show {
    display: block;
    background: rgba(255, 255, 255, 0.6);
}

.loading {
    margin: auto;
    border: 2px solid transparent;
    border-color: transparent #0d6efd transparent #0d6efd;
    -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
    -moz-transform-origin: 50% 50%;
    -o-animation: rotate-loading 1.5s linear 0s infinite normal;
    -o-transform-origin: 50% 50%;
    -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
    -webkit-transform-origin: 50% 50%;
    animation: rotate-loading 1.5s linear 0s infinite normal;
    top: 40%;
    transform-origin: 50% 50%;
}


/*
        .loading-container:hover .loading {
            border-color: transparent #0d6efd transparent #0d6efd;
        }*/

.loading-container:hover .loading,
.loading-container .loading {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#loading-text {
    -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
    -o-animation: loading-text-opacity 2s linear 0s infinite normal;
    -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
    animation: loading-text-opacity 2s linear 0s infinite normal;
    color: #0d6efd;
    font-family: "Helvetica Neue, "Helvetica ", ""arial";
    font-size: 10px;
    font-weight: bold;
    margin: 45px auto 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
}

.accordion-header {
    position: relative;
}

.accordion-button {
    padding: 30px 25px;
    cursor: pointer;
}

.accordion-button:hover {
    background-color: #e7f1ff;
}

.accordion-header-wrap {
    overflow: hidden;
    position: absolute;
    z-index: 11;
    top: 20px;
    left: 0;
}


/* //로딩 애니메이션 */


/*해상도에 따른 수정*/

@media (max-width: 1200px) {
    header .headerL .gnb li a {
        padding: 0 20px;
        font-size: 14px;
    }

    .points-input-group .announce {
        clear: both;
        margin: 0 0 0 -65px !important;
    }

    .table-weight {
        width: 100%;
    }

    .table-step2 .step2-optionGroup {
        height: auto;
    }



}
